@model MoviesWeb.Models.Movies

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direcotr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direcotr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
