@{
    ViewBag.Title = "MovieDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MoviesWeb.Models.Movies
<div class="blog-section">
    <div class="m-single-article">
        <div class="article-left">
            <h3>@Html.DisplayFor(model => model.MName)</h3>
            @*<p><a class="m-green" href="#">Action</a><a class="m-green" href="#">Thriller</a><a class="m-orange" href="#">English</a></p>*@
            <div class="clearfix"></div>
            <div class="article-time-strip">
                <div class="article-time-strip-left">
                    <p>Duration <span><i class="fa fa-clock-o"></i>@Html.DisplayFor(model => model.MDuration) </span>  &nbsp;&nbsp; Release Date <span><i class="fa fa-calendar"></i>@Html.DisplayFor(model => model.ReleaseDate)</span></p>
                </div>
                <div class="clearfix"></div>
                <div class="article-img">
                    <iframe src="https://www.youtube.com/embed/VdafjyFK3ko" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="review-info">
                    <h6 class="span88">@Html.DisplayFor(model => model.MName)</h6>
                    <p class="dirctr"><a href="">@Html.DisplayFor(model => model.CreatedBy), </a>@Html.DisplayFor(model => model.CreatedOn)</p>
                    @*<p class="ratingview">Critic's Rating:</p>
                    <div class="rating">
                        <span>☆</span>
                        <span>☆</span>
                        <span>☆</span>
                        <span>☆</span>
                        <span>☆</span>
                    </div>
                    <p class="ratingview">
                        &nbsp;3.5/5
                    </p>
                    <div class="clearfix"></div>
                    <p class="ratingview c-rating">Avg Readers' Rating:</p>
                    <div class="rating c-rating">
                        <span>☆</span>
                        <span>☆</span>
                        <span>☆</span>
                        <span>☆</span>
                        <span>☆</span>
                    </div>
                    <p class="ratingview c-rating">
                        &nbsp; 3.3/5
                    </p>*@
                    <div class="clearfix">@Session["MID"]=</div>
                    @*<div class="yrw">
                        <div class="dropdown-button">
                            <select class="dropdown" tabindex="9" data-settings="{&quot;wrapperClass&quot;:&quot;flat&quot;}">
                                <option value="0">Your rating</option>
                                <option value="1">1.Poor</option>
                                <option value="2">1.5(Below average)</option>
                                <option value="3">2.Average</option>
                                <option value="4">2.5(Above average)</option>
                                <option value="5">3.Watchable</option>
                                <option value="6">3.5(Good)</option>
                                <option value="7">4.5(Very good)</option>
                                <option value="8">5.Outstanding</option>
                            </select>
                        </div>
                        <div class="rtm text-center">
                            <a href="#">REVIEW THIS MOVIE</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>*@
                    <p class="info"><strong>CAST</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.Cast)</p>
                    <p class="info"><strong>DIRECTION</strong>: &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Direcotr)</p>
                    <p class="info"><strong>STORY</strong>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; V. Vijayendra Prasad.</p>
                    <p class="info"><strong>DURATION</strong>:&nbsp;&nbsp;&nbsp; &nbsp; @Html.DisplayFor(model => model.MDuration)</p>
                </div>
            </div>
        </div>
        <div class="article-right">
            <div class="grid_3 grid_5">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Tue-30</a></li>
                        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">WED-1</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <p class="m-s-t">INOX: Lorem Mall, Chicago</p>
                            <a class="show-time" href="movie-select-show.html">06:30 PM</a>
                            <div class="clearfix"></div>
                            <a class="more-show-time" href="movie-select-show.html">More Show Times</a>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            <p class="m-s-t">INOX: Lorem Mall, Chicago</p>
                            <a class="show-time" href="movie-select-show.html">12:45 PM</a><a class="show-time" href="movie-select-show.html">06:30 PM</a>
                            <div class="clearfix"></div>
                            <a class="more-show-time" href="movie-select-show.html">More Show Times</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="reviews-tabs">
        <!-- Main component for a primary marketing message or call to action -->
        <ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="myTab">
            <li class="test-class active"><a class="deco-none misc-class" href="#how-to"> Synopsis</a></li>
            <li class="test-class"><a href="#features">Critic Reviews (1)</a></li>
            <li><a class="deco-none" href="#source">User Reviews (11)</a></li>
        </ul>

        <div class="tab-content responsive hidden-xs hidden-sm">
            <div class="tab-pane active" id="how-to">
                <p><strong> Director :</strong> <a href="#">S.S. Rajamouli.</a></p>
                <p> <strong>Cast & Crew :</strong> <a href="#">Lorem ipsum</a> ,<a href="#">Lorem ipsum</a> ,<a href="#">Lorem ipsum</a>, <a href="#">Lorem ipsum</a>, <a href="#">Lorem ipsum</a>, <a href="#">Lorem ipsum</a></p>
                <p>
                    No content is available for this movie. Official sources can send relevant information to <br>
                    <a href="mail-to:mail@example.com">content@example.com</a>
                </p>


            </div>
            <div class="tab-pane" id="features">
                @{


                    @Html.Action("CriticReviews", @Html.DisplayFor(model => model.ID))



                }
            </div>
            <div class="tab-pane" id="source">
                <div class="response">
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/icon1.png" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul>
                                <li>MARCH 21, 2015</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/icon1.png" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul>
                                <li>MARCH 25, 2014</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/icon1.png" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul>
                                <li>MARCH 25, 2014</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/icon1.png" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul>
                                <li>MARCH 25, 2014</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/icon1.png" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul>
                                <li>MARCH 25, 2014</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/icon1.png" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul>
                                <li>MARCH 25, 2014</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/icon1.png" alt="">
                            </a>
                            <h5><a href="#">Username</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul>
                                <li>MARCH 25, 2014</li>
                                <li><a href="single.html">Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 blog-categories">
        <h3 class="post">Categories</h3>
        <p><a href="#">Celebrity Interviews</a> (34)</p>
        <p><a href="#">Lorem Ipsum</a> (12)</p>
        <p><a href="#">Bollwood Movies</a> (34)</p>
        <p><a href="#">Tamil Movies</a> (12)</p>
        <p><a href="#">Tollywood Movies</a> (34)</p>
        <p><a href="#">Collywood Movies</a> (12)</p>
        <p><a href="#">Celebrity Interviews</a> (34)</p>
        <p><a href="#">Actors</a> (12)</p>
        <p><a href="#">Actress</a> (34)</p>
        <p><a href="#">Movie News</a> (12)</p>
        <p><a href="#">Music</a> (34)</p>
        <p><a href="#">Indian Music</a> (12)</p>
        <p><a href="#">Celebrity Interviews</a> (34)</p>
        <p><a href="#">Lorem Ipsum</a> (12)</p>
        <p><a href="#">Celebrity Interviews</a> (34)</p>
        <p><a href="#">Lorem Ipsum</a> (12)</p>
        <p><a href="#">Celebrity Interviews</a> (34)</p>
        <p><a href="#">Lorem Ipsum</a> (12)</p>
        <p><a href="#">Celebrity Interviews</a> (34)</p>
        <p><a href="#">Lorem Ipsum</a> (12)</p>
        <p><a href="#">Celebrity Interviews</a> (34)</p>
        <p><a href="#">Lorem Ipsum</a> (12)</p>
    </div>
    <div class="clearfix"></div>
</div>


