@model MoviesWeb.Models.CriticsReviews

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CriticsReviews</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CriticName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriticName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullReview)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
